body{
    font-family: Arial;
    padding: 0;
    margin: 0;
    
}

#navbar{
    display: inline;
    
}

#navlist{
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid;
    justify-content: space-around;
    margin: 1rem;
    
}
#navitem{
    margin:1rem;
    text-decoration: none;
}

#headerSection{
    border: 1px solid;
    margin: 1rem;
    text-align: center;
}

#mainSection{
    border: 1px solid;
    margin: 1rem;
    padding-left: 1rem;
}